.article {
    color: #333;
    
}

.article h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

.article h3 {
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

.article p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.graytext {
    color: #7b808a;
}
